@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@100;300;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}
header, .banner {
    width: 100%;
    background-color: #00bcd4;
}
nav {
    background-color: #00bcd4;
    text-align: center;
    padding: 20px;
}
a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;

}
.anav {
    color: #fff;
    margin-right: 40px;
    font-size: 1.4rem;
    text-decoration: none;
}
main, #beneficios, #modalidades, #treinos {
    padding: 100px;
}
main {
    width: 100%;
    box-sizing: border-box;
}
h1 {
    font-family: kaushan script, cursive;
    font-size: 3rem;
    color: #3f51b5;
    text-align: center;
    margin-bottom: 30px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #777;
    text-align: justify;
    text-indent: 20px;
    line-height: 30px;
}
section {
    
}
#beneficios {
    background-color: #00bcd4;
}
.imgm {
    width: 50px;
    height: 50px;
}